In [1]:
import pandas as pd

In [3]:
content = []
eul1db_srip_list = []
headers = ['Chr','Start','End','Strand']

with open("../../data/eul1db-data/eul1db_srip.bed")as f:
    for line in f:
        content.append(line.strip().split())
for i, line in enumerate(content):
    if i < 3:
        continue
    eul1db_srip_list.append([line[0][3:], line[1], line[2], line[5]])
eul1db_srip_df = pd.DataFrame(eul1db_srip_list, columns=headers)

In [4]:
l1base_df = pd.read_excel('../../data/l1base/l1base.xlsx')
l1base_list = []

for index, row in l1base_df.iterrows():
    l1base_list.append([row[0], row[1], row[2], row[5]])

headers = ['Chr','Start','End','Strand']
l1base_df = pd.DataFrame(l1base_list, columns=headers)

In [6]:
len(eul1db_srip_df)

142494

In [7]:
l1base_df.head(5) # this is Grch37 (hg19)

  Chr      Start        End  Strand
0   8  134077776  134069730      -1
1   8  128460023  128451975      -1
2   8   72882593   72874543      -1
3   8   72154468   72146429      -1
4   8   91557655   91565704       1

In [11]:
l1base_df.loc
l1base_df.loc[l1base_df['Strand'] == +1]
eul1db_srip_df.loc[eul1db_srip_df['Strand'] == '-']

       Chr     Start       End Strand
0        1    815511    815511      -
2        1   1149273   1149273      -
3        1   1687509   1687509      -
4        1   3053277   3053277      -
5        1   3130361   3130361      -
6        1   3508012   3508012      -
7        1   3751106   3751106      -
10       1   5733841   5733841      -
12       1   5890941   5890941      -
15       1   7948390   7948390      -
17       1   8572129   8572129      -
18       1   8572129   8572129      -
20       1   8665913   8665913      -
24       1  10059894  10059894      -
28       1  10724778  10724778      -
29       1  10755982  10755982      -
37       1  12875658  12875658      -
38       1  12875658  12875658      -
39       1  12875658  12875658      -
40       1  12875658  12875658      -
41       1  12875658  12875658      -
42       1  12875658  12875658      -
43       1  12875996  12875996      -
44       1  12875996  12875996      -
45       1  12875996  12875996      -
46       1  12875996  12875996      -
47       1  12875996  12875996      -
48       1  12875996  12875996      -
49       1  12875996  12875996      -
50       1  12875996  12875996      -
...     ..       ...       ...    ...
142462   Y  21840013  21840013      -
142463   Y  22634820  22634820      -
142464   Y  22634820  22634820      -
142465   Y  22634967  22634967      -
142466   Y  22634967  22634967      -
142467   Y  22852197  22852197      -
142468   Y  22852272  22852272      -
142469   Y  22852272  22852272      -
142470   Y  22852274  22852274      -
142471   Y  22852274  22852274      -
142472   Y  23120625  23120625      -
142473   Y  23120625  23120625      -
142474   Y  23120625  23120625      -
142475   Y  23120625  23120625      -
142476   Y  58980643  58980643      -
142477   Y  58980643  58980643      -
142478   Y  58980643  58980643      -
142479   Y  58980643  58980643      -
142480   Y  58980643  58980643      -
142481   Y  58980643  58980643      -
142482   Y  58980643  58980643      -
142483   Y  58980643  58980643      -
142484   Y  58980643  58980643      -
142485   Y  58980643  58980643      -
142486   Y  58980643  58980643      -
142487   Y  58980643  58980643      -
142488   Y  58980643  58980643      -
142489   Y  58980643  58980643      -
142490   Y  58980643  58980643      -
142491   Y  58980643  58980643      -

[76135 rows x 4 columns]

In [6]:
def getOverlap(a, b):
    return max(0, min(a[1], b[1]) - max(a[0], b[0]))

In [137]:
if row['Strand'] == -1:
    x = range(row['Start'], row['End'])

len(xs)
row['Start'], row['End']

(5613201, 5605152)

In [146]:
#row['End'], row['Start']
print(134077776 - 134069730)

134070730 in range(134069730, 134077776)

8046

True

In [16]:
l1base_df = l1base_df.head(5)
eul1db_srip_df = eul1db_srip_df.head(10)

In [ ]:
for idx_l1base, row_l1base in l1base_df.iterrows():
    for idx_eul1db, row_eul1db in eul1db_srip_df.iterrows():
        if row_eul1db['Start'] in range(row_l1base['Start'], row_l1base['End']):
            print ('hit')

In [29]:
x = 91557660
x in range(row_l1base['Start'], row_l1base['End'])

True